
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, sans-serif;
}

body {
    background: #0b0e15;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

header{
    background: #111a34;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header h3{
    font-size: 1.6rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3 ease;
}

.navbar a:hover {
    color: #c3d9ff;
    
}

.bg-bulb {
    width: 260px;
    height: 300px;
    background: #10141f;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
        inset 6px 6px 15px #06080c,
        inset -6px -6px 15px #1b202c,
        0 0 40px rgba(255, 255, 150, 0.1);
    border: 3px solid #0d1118;
    margin-bottom: 25px;
    position: relative;
}

/* Reflection shine */
.bg-bulb::after {
    content: "";
    width: 90%;
    height: 40%;
    background: linear-gradient(
        rgba(255,255,255,0.07),
        rgba(0,0,0,0)
    );
    position: absolute;
    top: 5px;
    border-radius: 20px;
    pointer-events: none;
}

/* ===== BULB ===== */
.bg-bulb img {
    width: 200px;
    filter: brightness(0.3);
    opacity: 0.6;
    transition: 0.4s;
}

/* ON BULB */
body.on .bg-bulb img {
    filter: brightness(2) drop-shadow(0 0 40px #ffea66);
    opacity: 1;
}

/* Glow container on */
body.on .bg-bulb {
    box-shadow:
        inset 6px 6px 20px #06080c,
        inset -6px -6px 20px #1b202c,
        0 0 60px #ffea66;
}

/* ===== SWITCH ===== */
.switch {
    margin-top: 10px;
    width: 150px;
    height: 55px;
    background: #161b25;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    box-shadow:
        inset 6px 6px 10px #0a0c10,
        inset -6px -6px 10px #1f2432,
        0px 0px 15px #000;
    transition: 0.4s;
}

.off-status,
.on-status {
    font-size: 12px;
    opacity: 0.3;
    transition: 0.3s;
}

/* ON TEXT */
body.on .on-status {
    opacity: 1;
    color: yellow;
    text-shadow: 0 0 8px yellow;
}

/* Dim OFF text when ON */
body.on .off-status {
    opacity: 0.1;
}

/* ===== BUTTON ===== */
.btn {
    width: 47px;
    height: 47px;
    background: #ff3c3c;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    transition: 0.4s;
    box-shadow:
        6px 6px 10px #0a0c10,
        -6px -6px 10px #1f2432,
        0 0 5px #000;
    border: 3px solid #1b1f29;
}

/* When ON */
body.on .btn {
    left: 95px;
    background: #2eff42;
    box-shadow:
        0 0 10px #2eff42,
        0 0 25px #2eff42;
}
